html 
  scroll-behavior: smooth 
  
body 
  font-family: 'Open Sans', sans-serif
  padding: 0
  margin: 0
  overflow-x: hidden

p,
ul
  line-height: 1.5 

header 
  font-family: 'Noto Sans KR', sans-serif
  #desktop-nav 
      display: none
      a 
        color: black 
        text-decoration: none 
  #mobile-nav
    display: block
    #front 
      display: flex
      justify-content: flex-end
      align-items: center
      #logo 
        margin-right: auto 
        padding-left: 1em
        color: black 
        text-decoration: none 
      #toggle 
        color: black
      .fa-bars 
        margin-left: auto 
        padding-right: 1em 
        font-size: 2em
    #mobile-links
      display: none
      list-style-type: none
      font-size: 1.3em
      margin: 0
      padding: 0 0 0 1em
      li
        margin-bottom: 1em 
        a 
          color: black
          text-decoration: none 

#home-wrapper
  #grid-items 
    display: flex 
    justify-content: center 
    align-items: center
    flex-direction: column
    #text 
      padding-left: 1.5em 
      padding-right: 1.5em 
  #socialmedia-feed 
    width: 21em

#wrapper 
  padding-left: 1.5em 
  padding-right: 1.5em

#slideshow 
  width: 24em
  height: 15em
  display: block 
  margin-left: auto 
  margin-right: auto
  position: relative
  background-color: #000000
  border: solid #FFFFFF 1px

#slideshow img 
  width: 24em
  height: 15em
  display: block
  margin-left: auto
  margin-right: auto
  object-fit: cover

#front 
  display: inline

.mySlides 
  display: none

.number 
  color: #FFFFFF
  font-size: 12px
  padding: 8px 12px
  position: absolute
  top: 0

.prev,
.next 
  cursor: pointer
  position: absolute
  top: 50%
  width: auto
  margin-top: -22px
  padding: 16px
  background: #cfcfcf75
  color: #FF0000
  font-weight: bold
  font-size: 2em
  transition: 0.6s ease
  border-radius: 0 3px 3px 0

.next 
  right: 0
  border-radius: 3px 0 0 3px

.prev:active,
.next:active 
  background-color: black

.fade 
  animation-name: fade
  animation-duration: 1.5s

@keyframes fade 
  from 
    opacity: 0.4
  
  to 
    opacity: 1
  

@keyframes fade 
  from 
    opacity: 0.4
  to 
    opacity: 1
    
#fees 
  display: none 

table 
  margin: auto
  border: solid black 2px
  width: 100%
  border-collapse: collapse
  word-wrap: break-word
  th,
  td 
    border: solid black 1px 
    padding: 5px
  td 
    text-align: center 
  .event 
    color: red

.info-section 
  cursor: pointer 

.info-section:hover 
  color: red

.info-section:before 
  border: 0.5em solid
  border-color: transparent transparent transparent black
  content: ''
  display: inline-block
  height: 0
  margin-right: 0.5em
  vertical-align: middle
  width: 0

.info-section:hover:before 
  border-left-color: red

.info-section.open:before 
  border-color: black transparent transparent transparent
  border-bottom-width: 0
    
.info-section.open:hover:before 
  border-left-color: transparent
  border-top-color: red

.titles 
  text-decoration: underline

.important 
  color: red

#earbuds 
  li
    color: red

input 
  width: 95%
  height: 2em

input[type=radio] 
  width: 1em

select 
  width: 96%
  height: 2em

#submit 
  border: solid black 2px
  border-radius: 25px
  background-color: white
  width: 5em

#submit:active 
  background-color: red 
  color: white

#up-button:hover 
  opacity: 0.5

#honeypot 
  display: none


#up-button 
  display: none
  position: fixed
  bottom: 2em
  right: 3em
  z-index: 99
  border: none
  outline: none
  color: #000000
  cursor: pointer
  padding: 1em
  border-radius: 50%
  font-size: 1.2em

footer 
  text-align: center
  font-size: 0.8em
  font-style: italic

/* Desktop Stylesheets */
@media only screen and (min-width: 1025px) 
    body 
      padding: 0
      margin: 0

    header 
      text-align: center
      h1
        font-size: 2.5em
      h1:hover,
      h3:hover
        color: red
      h3 
        margin-top: -1.1em
        font-size: 1.7em
      .icon 
        display: none
      #desktop-nav 
        display: block 
      #desktop-logo 
        display: inline-block
      #desktop-links
        word-spacing: 1.5em
      #desktop-links a:active
        color: #808080
      #mobile-nav 
        display: none 

    #home-wrapper 
      width: 70em 
      display: block 
      margin: 1em auto auto auto
      #grid-items 
        display: flex 
        justify-content: center 
        align-items: flex-start
        flex-direction: row

    #wrapper 
      width: 70%
      display: block
      margin: 1em auto auto auto

    #slideshow 
      width: 43em
      height: 28em

    #slideshow img 
      width: 43em
      height: 28em

    #block2 
      #socialmedia-feed,
      #twitter-feed 
          width: 25em
      #weather-feed 
          width: 21.5em

    table 
      width: 70%

    input 
      width: 45%
      height: 2em
  
    select 
      width: 45.5%
      height: 2em

    footer 
      text-align: center 
      font-style: italic
      font-size: 0.8em